html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
}
/* ブラウザが元々持っている余白（margin）をリセットして、
  画面全体にコンテンツが広がるようにします。
*/
body {
  margin: 0;
  padding: 0;
  /* (オプション) アプリ全体で使いたいフォントを指定できます */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/*
  これは「おまじない」のようなものですが、
  paddingやborderが要素の幅(width)に影響しないようにする
  非常に重要な設定です。レイアウトが格段に組みやすくなります。
*/
* {
  box-sizing: border-box;
}